*{
    box-sizing: border-box;
}

pre{
    border-radius: 10px;
    border: 1px solid black;
    border-width: 1px;
    background-color: rgb(204, 204, 204);
}

body{
    background-color: rgb(211, 211, 211);
}

@media(min-width: 576px){
    .contenido{
        padding: 30px;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.contenido{
    background-color: white;
    margin-top: 2px;
    margin-bottom: 70px;
}
