*{
    box-sizing: border-box;
}

pre{
    border-radius: 10px;
    border: 1px solid black;
    border-width: 1px;
    background-color: rgb(204, 204, 204);
}

.contenido{
    background-color: white;
    padding: 30px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 70px;
}
