{% extends 'base.html' %}

{% block styles %}
  <title>Templates y blueprints</title>
{% endblock styles %}

{% block content %}
  <h2>Templates y blueprints</h2>
  <h4>Templates</h4>
  <p>
    En flask un template se puede renderear con el render_template de flask, este automaticamente va a buscar
    una carpeta llamada templates, en el mismo nivel de nuestro archivo, y dentro de la carpeta va buscar el archivo requerido.
  </p>
  <pre>
    <code>
      from flask import Flask, render_template

      app = Flask(__name__)

      @app.route('/')
      def index():
          return render_template('index.html')
    </code>
  </pre>
  <p>
    Flask maneja Jinja2, este tipo de diseño de template nos va a permitir hacer for, if, tener variables y
    otro tipo de estructuras de control, ademas de poder tener herencias y bloques de html separado.
  </p>
  <p>
    La extencion de un template nos ayuda a que si queremos que algo de html este en todas nuestras paginas
    no tengamos que extender el mismo codigo, por ejemplo vamos a extender un navbar de bootstrap a todas nuestras paginas y crear bloques:
  </p>
  <pre>
    <h4>Dentro de base.html</h4>
    <code>
      &lt;!DOCTYPE html&gt;
      &lt;html lang="en"&gt;
      &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
        &lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"&gt;
        <!-- raw es para poder poner codigo de Jinja2 sin que sea interpretado como codigo -->
        {%- raw -%}
        {% block cabeza %}
          
        {% endblock cabeza %}
        {%- endraw %}
      &lt;/head&gt;
      &lt;body&gt;
        &lt;nav class="navbar navbar-expand-lg navbar-light bg-light"&gt;
          &lt;a class="navbar-brand" href="#"&gt;Navbar&lt;/a&gt;
          &lt;button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"&gt;
            &lt;span class="navbar-toggler-icon"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;div class="collapse navbar-collapse" id="navbarNav"&gt;
            &lt;ul class="navbar-nav"&gt;
              &lt;li class="nav-item active"&gt;
                &lt;a class="nav-link" href="#"&gt;Home &lt;span class="sr-only"&gt;(current)&lt;/span&gt;&lt;/a&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/nav&gt;
        {% raw -%}
        {% block contenido %}
          
        {% endblock contenido %}
        {%- endraw %}
        &lt;script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"&gt;&lt;/script&gt;
        &lt;script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"&gt;&lt;/script&gt;
        &lt;script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"&gt;&lt;/script&gt;
      &lt;/body&gt;
      &lt;/html&gt;
    </code>
    <h4>Dentro de index.html</h4>
    <code>
      {% raw -%}
      {% extends 'base.html' %}

      {% block cabeza %}
      &lt;title&gt;Mi pagina&lt;/title&gt;
      {% endblock cabeza %}

      {% block contenido %}
      &lt;div&gt;El contenido va aqui&lt;/div&gt;
      {% endblock contenido %}
      {%- endraw -%}
    </code>
  </pre>
  <p>
    De esta manera ya incluimos las librerias de bootstrap a nuestros templates asi como tambien la navbar. Con los
    bloques dejamos espacio en &lt;head&gt; para poner titulo, colocar otros archivos ccs entre otras cosas, ademas dejamos en
    &lt;body&gt; otro bloque abierto para nuestro contendo de esa pagina. Y el archivo que se llama en render_template es index.html.
  </p>
   Todo esto se va a ver mas a profundidad mas adelante, en especial con la base de datos y flask-login. Aqui el link a la documentacion.
   <br>
  <a href="https://jinja.palletsprojects.com/en/2.11.x/templates/#">Documentacion a Jinja2</a>
  <br>
  <br>
  <h4>Blueprints</h4>
  <p>
    Los blueprints ya vienen instalados con flask, estos nos ayudan a organizar mejor grandes aplicaciones
    en vez de tener todo en un archivo grande. Primero tenemos que crear una carpeta con un nombre significativo, por
    ejemplo si ahi vamos a manejar todo el backend del usuariole podemos llamar usuario a la carpeta, esta carpeta se crea en
    el mismo nivel que nuestro __init__.py de la aplicacion.
  </p>
  <pre>
    <img src="{{ url_for('static', filename='img/blueprint1.png') }}" alt="blueprint">
  </pre>
  <p>
    Dentro de esa carpeta vamos a abrir un archivo llamado views.py donde vamos a
    organizar todas las vistas de los usuarios. Dentro de views.py vamos a escribir lo siguiente:
  </p>
  <pre>
    Dentro de aplicacion\aplicacion\usuarios\views.py
    <code>
      from flask import Blueprint

      # Por lo general la instancia y el nombre del blueprint es el mismo para que no haya confusion
      usuarios = Blueprint('usuarios', __name__)

      # Como ya no estamos en un solo archivo las rutas se definen con el blueprint
      @usuarios.route('/')
      def usuario():
          return "En usuarios"
    </code>
    <h5>Ya que creamos el blueprint lo tenemos que registrar en __init__.py de la aplicacion</h5>
    Dentro de aplicacion\aplicacion\__init__.py
    <code>
      from flask import Flask

      app = Flask(__name__)

      # Este import se hace aqui ya que primero se debe de crear la aplicacion y luego se instancia el blueprint
      from aplicacion.usuarios.views import usuarios

      app.register_blueprint(usuarios)
    </code>
  </pre>
  <p>
    Tambien se le puede definir un prefijo que vaya en todas las paginas del blueprint, 
    todo el codigo es igual nada mas que en la instancia se define el prefijo:
  </p>
  <pre>
    <code>
      admin = Blueprint('admin', __name__, url_prefix='/admin')
    </code>
  </pre>
  <p>
    De esta manera cualquier pagina que se agregue en este blueprint sera el.dominio.com/admin/nombre-ruta
  </p>
{% endblock content %}