{% extends 'base.html' %}

{% block styles %}
  <title>Bienvenido</title>
{% endblock %}

{% block content %}
  En esta pagina encontraras las bases de como hacer un aplicacion con flask
  <ul>
    <li> <a href="{{ url_for('bases.venv') }}">Virtual environment</a> </li>
    <li> <a href="{{ url_for('bases.rutas', nombre='nombre') }}">Rutas</a> </li>
    <li> <a href="{{ url_for('bases.debug') }}">Modo debug</a> </li>
    <li> <a href="#">Templates y blueprints</a> </li>
    <li> <a href="#">WTForms</a> </li>
    <li> <a href="#">SQLAlchemy</a> </li>
    <li> <a href="#">Flask-login</a> </li>
    <li> <a href="#">Deploy en heroku</a> </li>
  </ul>
{% endblock %}